$dark-blue: #272C55;
$medium-blue: #86B6FF;
$light-blue: #CCE0FF;
$grey-color: #C4C4C4;
$white-color: #FCFDFF;

body, html {
  height: 100%;
  overflow: scroll;
}

.content {
  padding-top: 30px;
}

.left {
    float:left;
    background-color: $white-color;
    width: 50%;
    padding-left: 60px;
  }

.title {
    font-family: Avenir Next;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    color: $dark-blue;
  }
.subtitle {
  font-family: 'Avenir Next',  sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: $dark-blue;
  padding-top: 10px;
  padding-right: 1em;
  font-weight: 500;
  margin: 0.5em;
}

.boxes {
  display: grid;
  grid-template-columns: 230px 230px;
  column-gap: 30px;
  padding-top: 20px;
}
.box {
  background: $medium-blue;
  height: 130px;
}
.numbers {
  font-family: Avenir Next;
  font-weight: 600;
  font-size: 40px;
  line-height: 68px;
  text-align: center;
  color: $dark-blue;
}
.description {
  font-family: Avenir Next;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  color: $dark-blue;
}
.reviews {
  display: grid;
  row-gap: 0.5em;
  padding-top: 1em;
  margin-right: 1em;
}
.review{
  background: rgba(204, 224, 255, 0.3);
  // width: 640px;
  height: 112px;
  padding: 1em;
  color: $dark-blue;
}

.prev-positions {
  color: $dark-blue;
  font-weight: 500;
  font-size: 20px;
}

.add-review-button {
  background-color: $light-blue;
  color: $dark-blue;
  padding: 0.2em;
  border: 1px  solid  $dark-blue;
}
.add-review-button:hover {
  background-color: $dark-blue;
  color: $light-blue;
  padding: 0.4em;
  font-weight: 400;
  border: 1px  solid  $light-blue;
}

.all-positions{
  display: flex;
  flex-wrap: wrap; 
}

.positions-tags {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 300;
  padding: 0.3em;
  background-color: $dark-blue;
  color: $light-blue;
  margin: 0.5em;
}

@media screen and (max-width: 1000px) {
  .review {
    width: 90%;
  }
  .boxes {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-start: 1;
    grid-column-end: 2;
    column-gap: 20px;
    row-gap: 1em;
    padding-top: 10px;
  }

  #box1 {
    grid-column: 1/2;
    grid-row: 2;

  }

  #box2 {
    grid-column: 1/2;
    grid-row: 2; 

  }

  .numbers {
    font-size: 40px;
  }
  .description {
    font-size:15px;  
  }


 
}


