$dark-blue: #272C55;
$medium-blue: #86B6FF;
$light-blue: #CCE0FF;
$grey-color: #C4C4C4;
$white-color: #FCFDFF;

#sign-out-nav {
    // position: absolute;
    right: 1em;
    display: inline;
    padding-top: 1em;
    // padding: 0;
}

.navElement {
    // display: block;
    display: inline;
    text-decoration: none;
    padding: 0em 0.5em;
    list-style: none; 
}

.navBar {
    display: block;
    background-color: $light-blue;
    padding: 0.5em;
}

.logoAnchor {
    width: 4%;
    padding: 0
}

@media screen and (max-width: 750px) {
    #sign-out-nav {
        padding-top: 0em;
    }

}
