$dark-blue: #272C55;
$medium-blue: #86B6FF;
$light-blue: #CCE0FF;
$grey-color: #C4C4C4;
$white-color: #FCFDFF;

.welcome {
    margin: 0.5em;
}


.profile-info {
    font-family: "Avenir Next", sans-serif;
}
.edit {
    padding: 1em;
    margin: 1em;
    font-size: 15px;
    font-family: "Avenir Next", sans-serif;
    background-color: $light-blue;
    border: 0.5px  solid $dark-blue; 
    color: $dark-blue;
    border-radius: 1em;
}

.edit:hover {
    padding: 1em;
    margin: 1em;
    font-size: 15px;
    font-family: "Avenir Next", sans-serif;
    background-color: $dark-blue;
    border: 0.5px  solid $light-blue; 
    color: $light-blue;
    cursor: pointer;
}